target
node_modules
dist
Cargo.lock
docs
.env
docker-compose.yml
.vscode
deps/**/*.jpg
deps/**/*.png
/db/
/data/
frontend/build
**/blurhash/*.jpg
**/blurhash/*.png
.dev.vars
.DS_Store
/node_modules
**/*.rs.bk
wasm-pack.log
build/
package-lock.json